<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootcamp List</title>
  </head>
  <body>
    <%- include('./partials/header')%>
    <form action="/bootcamps?" method="GET">
      <label>Search Name:</label>
      <input type="search" name="search" placeholder="Search name..." />
      <button>Search</button>
    </form>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Detail</th>
      </tr>
      <%data.forEach(e => {%>
      <tr>
        <td><%=e.name%></td>
        <td><%=e.category%></td>
        <td>
          <a href="/bootcamps/<%=e.BootcampDetailId%>/detail"
            ><button>detail</button></a>
        </td>
      </tr>
      <%})%>
    </table>
    <br><br>
    <% if (access === 'admin') { %>
        <a href="/bootcamps/add"><button>ADD BOOTCAMP</button></a>
    <% } %>
  </body>
</html>
